# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env
.env.local

# Logs and databases
*.log
*.sqlite3

# Local settings
instance/
.webassets-cache

# Other temporary files
.DS_Store
.idea/
.vscode/